body {
    display: grid;
    background-color: #000000;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    grid-template-rows: auto auto 200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.def-container {
    max-width: 1770px;
    margin: auto;
}

.header-link {
    color: #7A7A7A;
    text-decoration: none;
}

.header {
    position: sticky;
    top: 0;
    z-index: 3;
}

.header-nav {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}

.nav-mobile {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo_mobile > img {
    height: 35px;
    width: 150px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.header-link {
    font-size: 2rem;
    padding-left: 18px;
    text-shadow: 1px 1px 1px black;
}

.menu > li:nth-child(4) {
    padding-left: 100px;
}

.footer {
    margin-top: 300px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.media-icon {
    height: 50px;
    width: 50px;
}

.footer p {
    color: #7A7A7A;
    text-shadow: 1px 1px 1px black;
}

.social-media {
    display: grid;
    justify-content: center;
}

.footer > p {
    text-align: center;
    margin-top: 33px;
}

.footer > p:first-child {
    margin-bottom: 21px;
    font-size: 1.2rem;
}

.footer > p:last-child {
    font-size: 0.9rem;
}

.social-links {
    display: flex;
    justify-items: center;
}

.social-links > li {
    margin: 10px;
    list-style: none;
}

.banner-picture {
    position: absolute;
    top: 0;
    width: 100%;
    height: 854px;
    object-fit: cover;
    object-position: top;
}

.fader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 854px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, #000000 100%);
    z-index: 1;
}

.banner-movie {
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
}

.banner-movie > p:first-child {
    color: #C6C6C6;
    font-size: 2rem;
    margin-bottom: 13px;
}

.banner-movie > p:nth-child(2) {
    color: #E35C22;
    font-size: 4rem;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 23px;
}

.banner-movie > p:nth-child(3) {
    color: #C6C6C6;
    font-size: 1.2rem;
}

.watch-button {
    background-color: #C6C6C6;
    width: 251px;
    height: 90px;
    border-radius: 35px;
    margin-top: 57px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-button > p {
    color: #E35C22;
    text-shadow: 1px 1px 1px black;
    font-size: 2.5rem;
}

.watch-button:hover{
    background-color: #E35C22;
}

.main-nav {
    position: relative;
    z-index: 1;
    max-width: 1450px;
    margin: 51px auto auto;
}

.main-nav > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.main-nav img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.main-nav-element {
    position: relative;
    height: 200px;
    width: 300px;
}

.main-nav-lbl {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    color: #FFFFFF;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px black;
    white-space: nowrap;
}

.main-nav-element:first-child .main-nav-lbl {
    font-size: 4rem;
}

.main-nav-element:last-child .main-nav-lbl {
    font-size: 4rem;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
    gap: 31px;
    margin: 285px auto auto auto;
}

.movie {
    height: 400px;
    background-color: #1C1C1C;
}

.movie img {
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.movie span {
    display: inline-block;
    font-size: 1.2rem;
    color: #FFFFFF;
    margin: 5%;
}

.movie a {
    text-decoration: none;
}

.main-p {
    display: grid;
    grid-template-columns: 80.5% auto;
    width: 100%;
    margin-top: 120px;
}

.video-block {
    margin: auto 1% auto 1%;
    max-width: 1374px;
}

.video-block > iframe {
    width: 100%;
    height: 763px;
}

.side-movie > img {
    width: 50%;
    height: 100px;
    margin: 10px 13px 10px;
    object-fit: cover;
    object-position: top;
}

.side-movie > span {
    font-size: 1rem;
    color: #FFFFFF;
    margin: 10px;
    width: 30%;
}

.side-movie {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #1C1C1C;
    margin-bottom: 27px;
}

.sidebar > p {
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 19px;
    text-align: center;
}

.description {
    margin-top: 56px;
}

.description > p:first-child {
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.description > p:nth-child(2) {
    font-size: 1.2rem;
    color: #555555;
    margin-bottom: 26px;
}

.description > p:last-child {
    font-size: 1.2rem;
    color: #C6C6C6;
}

.w-next {
    margin: 50px 0;
}

.w-next > p {
    color: #FFFFFF;
    font-size: 2rem;
    margin-bottom: 30px;
}

.series {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #1C1C1C;
    cursor: pointer;
    border: 1px solid #000000;
}

.series-mobile {
    width: 70px;
    height: 40px;
    background-color: #1C1C1C;
    cursor: pointer;
    position: relative;
}

.series-mobile > span {
    font-size: 1.2rem;
    color: #555555;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    white-space: nowrap;
}

.all-series-mobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
}

.series > img {
    height: 106px;
    width: 200px;
    margin: auto 25px;
}

.series > p {
    color: #FFFFFF;
}

.series-description {
    margin: auto 0;
}

.series-description > p:first-child {
    font-size: 1.5rem;
    color: #C6C6C6;
}

.series-description > p:nth-child(2) {
    font-size: 1.2rem;
    color: #555555;
}

.series-description > p:last-child {
    font-size: 1.2rem;
    color: #C6C6C6;
}

.all-series > p {
    color: #FFFFFF;
    font-size: 2rem;
    margin-bottom: 30px;
}

.series-nav-mobile > p {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 30px auto;
    text-align: center;
}

.log-window {
    position: relative;
    margin: auto;
    background-color: #1C1C1C;
    max-width: 800px;
    height: 1000px;
    padding: 5% 4%;
}

.log-window > p:first-child {
    font-size: 2.5rem;
    color: #7A7A7A;
    text-align: center;
    margin-bottom: 30px;
}

.log-forms {
    display: flex;
    flex-direction: column;
}

.log-forms > label {
    font-size: 1.2rem;
    color: #C6C6C6;
    margin-bottom: 30px;
}

.log-forms > input {
    outline: none;
    border: 0;
    margin-bottom: 30px;
    height: 60px;
    background-color: #7A7A7A;
    padding-left: 10px;
    color: #C6C6C6;
    font-size: 1.2rem;
}

.log-button {
    background-color: #E35C22;
    position: relative;
    width: 300px;
    height: 100px;
    margin: 50px auto;
    cursor: pointer;
}

.log-button > p {
    position: absolute;
    color: #FFFFFF;
    font-size: 3rem;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-shadow: 2px 2px 2px black;
}

.reg-link {
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
}

.reg-link > a {
    color: #FFFFFF;
    font-size: 1rem;
}

@media(min-width:1050px) {
    .nav-mobile {
        display: none;
    }

    .series-nav-mobile {
        display: none;
    }
}

@media(max-width:1049px) {
    .main-p {
        grid-template-columns: 100%;
    }
    .reg-button {
        width: 200px;
        height: 60px;
    }

    .reg-button > p {
        font-size: 2rem;
    }

    .video-block {
        width: 90%;
        float: none;
        margin: 0 auto auto;
    }

    .sidebar {
        display: none;
        float: none;
    }

    .series-description > p:last-child {
        display: none;
    }

    .video-block > iframe {
        height: auto;
        min-height: 200px;
    }

    .w-next {
        display: none;
    }

    .all-series {
        display: none;
    }

    .nav-desktop {
        display: none;
    }
    
    .header-link {
        color: #FFFFFF;
        text-shadow: 2px 2px 2px black;
    }

    .header {
        position: relative;
    }

    .banner-movie > p {
        text-align: center;
    }

    .banner-movie {
        justify-content: center;
    }

    .banner-movie > div {
        margin-left: auto;
        margin-right: auto;
    }

    .main-nav-element {
        margin-left: auto;
        margin-right: auto;
    }

    .movies {
        margin: 285px 2% auto 2%;
    }
}

@media(max-width:820px) {
    .reg-window {
        margin: 2%;
    }
}